body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.iphone{
    background-color: rgb(0, 0, 0);
    width: 340px;
    height: 700px;
    margin-top: 15px;
    border-radius: 60px 60px ;
    border: solid white;
}
.container{
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.cam{
    background-color: rgb(31, 31, 31);
    width: 130px;
    height: 30px;
    margin-left: 108px;
    border-radius: 0px 0px 15px 15px;
    margin-top: -95px;
}
.circle{
    background-color: rgb(24, 24, 24);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 118px;
    margin-top: -25px;
}
.circle1{
    background-color: rgba(7, 2, 103, 0.851);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 123px;
    margin-top: -15px;
}
.time{
    color: white;
    margin-left: 60px;
    margin-top: -27px;
    font-size: 15px;
}
.top{
    color: white;
    display: flex;
    gap: 10px;
    font-size: 10px;
    margin-left: 250px;
    margin-top: -27px;
}
.display input{
    width: 335px;
    height: 50px;
    font-size: 50px;
    text-align: end; 
    margin-top: 150px;
    padding-bottom: 10px;  
    background-color: black;
    color: white;
    border-style: none;
}
.box input{
    color: white;
    border-style: none;
    font-weight: 550;

}
.line-one{
    display: flex;
    gap: 27px;
    padding-top: 0px;
    margin-top: 20px;
    margin-left: 19px;
}
.line-one input{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    
    
}
.line-two{
    display: flex;
    gap: 27px;
    margin-top: 15px;
    margin-left: 19px;
}
.line-two input{
    width: 57px;
    height: 57px;
    border-radius: 50%;
}
.line-three{
    display: flex;
    gap: 27px;
    margin-top: 15px;
    margin-left: 19px;
}
.line-three input{
    width: 57px;
    height: 57px;
    border-radius: 50%;
}
.line-four{
    display: flex;
    gap: 27px;
    margin-top: 15px;
    margin-left: 19px;
}
.line-four input{
    width: 57px;
    height: 57px;
    border-radius: 50%;
}
.line-five{
    display: flex;
    gap: 27px;
    margin-top: 15px;
    margin-left: 19px;
    
}
.line-five input{
    width: 57px;
    height: 57px;
    border-radius: 50%;
}
.line{
    background-color: white;
    width: 4px;
    height: 110px;
    margin-left: 170px;
    margin-top: 15px;
    border-radius: 6px;
}

